In [14]:
import pandas as pd
import numpy as np

clin_df = pd.read_csv('data/train_clinical_data.csv')
sup_clin_df = pd.read_csv('data/supplemental_clinical_data.csv')

# concatenate clin_df and sup_clin_df vertically
combined_df = pd.concat([clin_df, sup_clin_df], ignore_index=True)

all_clin_df = combined_df.rename(columns={'upd23b_clinical_state_on_medication': 'on_meds'})

all_clin_df['on_meds'] = all_clin_df['on_meds'].fillna(0)
all_clin_df['on_meds'] = all_clin_df['on_meds'].replace({'Off': -1, 'On': 1})

      visit_id  patient_id  visit_month  updrs_1  updrs_2  updrs_3  updrs_4
0         55_0          55            0     10.0      6.0     15.0      NaN  \
1         55_3          55            3     10.0      7.0     25.0      NaN
2         55_6          55            6      8.0     10.0     34.0      NaN
3         55_9          55            9      8.0      9.0     30.0      0.0
4        55_12          55           12     10.0     10.0     41.0      0.0
...        ...         ...          ...      ...      ...      ...      ...
4833   65382_0       65382            0      NaN      NaN      0.0      NaN
4834   65405_0       65405            0      5.0     16.0     31.0      0.0
4835   65405_5       65405            5      NaN      NaN     57.0      NaN
4836   65530_0       65530            0     10.0      6.0     24.0      0.0
4837  65530_36       65530           36      8.0      4.0     15.0      4.0

     upd23b_clinical_state_on_medication
0                                    NaN
1                                    NaN
2                                    NaN
3                                     On
4                                     On
...                                  ...
4833                                 NaN
4834                                 NaN
4835                                 NaN
4836                                 NaN
4837                                  On

[4838 rows x 8 columns]

In [16]:
all_clin_df.to_csv('data/all_clinical_data.csv', index=False)

Fill forward, then backward or vice versa

Imput missing updrs values from other values (knn?)

Use average

Use 0 (unlikely score?)

In [ ]:
# Calculate mean and standard deviation of updrs_1 through updrs_4
updrs_mean = all_clin_df[['updrs_1', 'updrs_2', 'updrs_3', 'updrs_4']].mean()
updrs_std = all_clin_df[['updrs_1', 'updrs_2', 'updrs_3', 'updrs_4']].std()

# Normalize updrs_1 through updrs_4 and round to 3 sig figs
norm_clin_df = all_clin_df.assign(
    updrs_1=((all_clin_df['updrs_1'] - updrs_mean['updrs_1']) / updrs_std['updrs_1']).round(3),
    updrs_2=((all_clin_df['updrs_2'] - updrs_mean['updrs_2']) / updrs_std['updrs_2']).round(3),
    updrs_3=((all_clin_df['updrs_3'] - updrs_mean['updrs_3']) / updrs_std['updrs_3']).round(3),
    updrs_4=((all_clin_df['updrs_4'] - updrs_mean['updrs_4']) / updrs_std['updrs_4']).round(3))

In [11]:
norm_clin_df

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,on_meds
0,55_0,55,0,0.523,-0.118,-0.295,NaN,0
1,55_3,55,3,0.523,0.041,0.372,NaN,0
2,55_6,55,6,0.161,0.515,0.972,NaN,0
3,55_9,55,9,0.161,0.357,0.705,-0.616,1
4,55_12,55,12,0.523,0.515,1.439,-0.616,1
...,...,...,...,...,...,...,...,...
2610,65043_48,65043,48,-0.020,-0.118,-0.428,-0.616,-1
2611,65043_54,65043,54,-0.563,0.199,-0.561,-0.285,-1
2612,65043_60,65043,60,-0.201,-0.118,-0.228,-0.285,-1
2613,65043_72,65043,72,-0.744,0.357,-0.361,-0.285,-1
2614,65043_84,65043,84,-0.020,0.357,0.039,0.377,-1

In [13]:
sup_clin_df

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,35_0,35,0,5.0,3.0,16.0,0.0,NaN
1,35_36,35,36,6.0,4.0,20.0,0.0,NaN
2,75_0,75,0,4.0,6.0,26.0,0.0,NaN
3,75_36,75,36,1.0,8.0,38.0,0.0,On
4,155_0,155,0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...
2218,65382_0,65382,0,NaN,NaN,0.0,NaN,NaN
2219,65405_0,65405,0,5.0,16.0,31.0,0.0,NaN
2220,65405_5,65405,5,NaN,NaN,57.0,NaN,NaN
2221,65530_0,65530,0,10.0,6.0,24.0,0.0,NaN
2222,65530_36,65530,36,8.0,4.0,15.0,4.0,On