In [2]:
import pandas as pd

prot_df = pd.read_csv('data/train_proteins.csv')
pivoted = prot_df.pivot(index="visit_id", columns="UniProt", values="NPX")

In [3]:
pivoted.isna().sum(axis=1)

visit_id
10053_0     62
10053_12    56
10053_18    19
10138_12    10
10138_24     8
            ..
8699_24     11
942_12      15
942_24      10
942_48      11
942_6       11
Length: 1113, dtype: int64

In [4]:
pivoted.columns

Index(['O00391', 'O00533', 'O00584', 'O14498', 'O14773', 'O14791', 'O15240',
       'O15394', 'O43505', 'O60888',
       ...
       'Q9HDC9', 'Q9NQ79', 'Q9NYU2', 'Q9UBR2', 'Q9UBX5', 'Q9UHG2', 'Q9UKV8',
       'Q9UNU6', 'Q9Y646', 'Q9Y6R7'],
      dtype='object', name='UniProt', length=227)

In [15]:
import numpy as np



# Normalize each column separately
for col in pivoted.columns:

    col_data = pivoted[col].dropna() #ignore nans

    mean = col_data.mean()
    std = col_data.std(ddof=1)
    
    pivoted[col] = (pivoted[col] - mean) / std

In [16]:
pivoted

UniProt,O00391,O00533,O00584,O14498,O14773,O14791,O15240,O15394,O43505,O60888,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
visit_id,,,,,,,,,,,,,,,,,,,,,
10053_0,-0.900600,-0.461720,NaN,NaN,-1.470450,-0.444028,-0.593125,-1.667750,-0.354558,-0.281485,...,NaN,-1.391765,-0.731008,NaN,-0.987070,-0.509656,-0.155142,-0.665670,NaN,-0.177409
10053_12,-0.417843,-0.320609,NaN,NaN,NaN,NaN,0.975488,-1.668428,-0.392920,-0.642241,...,NaN,-1.127541,NaN,NaN,-0.551562,-0.571055,-0.164081,NaN,-1.782304,0.445860
10053_18,0.566004,-0.016030,-1.810210,-0.329170,NaN,-0.553583,0.004869,-1.612750,-0.344776,0.316984,...,0.273013,0.170261,-0.032686,NaN,0.189582,0.150555,-0.383094,-1.363066,NaN,0.763531
10138_12,0.340410,-0.070349,-1.619825,-0.013312,0.672284,2.636155,0.414596,0.176453,0.105514,-1.527830,...,2.069495,0.485349,1.809923,-0.127163,0.110313,-0.006194,1.412260,0.966993,0.262118,-1.238675
10138_24,0.128482,0.046548,-2.055741,-1.197716,1.594137,-0.297542,0.343887,0.073175,0.568006,-1.027346,...,NaN,0.660812,2.720630,0.401529,-0.790307,-0.522044,-0.402934,-1.084349,-0.806772,-1.376184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699_24,-0.588663,-0.470336,-0.211620,NaN,-0.103930,2.887669,-0.668856,-0.202889,0.735489,-0.111533,...,NaN,-0.523964,NaN,-1.833403,-1.295444,-1.067865,1.693948,-0.813447,1.403941,-1.199522
942_12,-1.733737,-0.637608,-0.760188,-1.485313,0.127695,-1.122628,-0.540278,-0.609492,0.207333,-0.773126,...,-1.757402,-0.105180,-0.738786,-0.397118,-1.120484,0.041569,0.481254,-0.085353,-0.350174,-0.806277
942_24,NaN,-0.672121,-0.342884,-0.463266,-0.138815,-1.328256,-0.156427,-0.686454,-0.122440,-0.796141,...,-0.750672,-0.305691,-0.660126,-0.850905,-0.938037,0.263195,0.270085,-0.087719,-0.112542,-0.587157
942_48,-0.004780,-1.100151,-0.416531,-0.111936,0.663088,-0.777090,-0.603586,-0.964683,-0.350721,-1.042718,...,-0.619822,-0.331734,0.405654,0.863510,-1.483325,0.023955,1.039986,0.210354,-0.975360,-0.419882
942_6,-0.150005,-0.473610,-0.553428,0.471806,-1.606781,-0.385779,0.472508,-0.343764,-0.377169,-1.035866,...,-0.205975,-0.430813,-0.749259,0.486928,-1.122503,0.754062,0.478367,0.652694,-0.159065,-0.528789

In [34]:
import pandas as pd

# Split the visit_id column on "_"
new_cols = pivoted['visit_id'].str.split("_", expand=True)
new_cols.columns = ['patient_id', 'visit_month']

# Add the new columns to the DataFrame
prot_df = pivoted.assign(patient_id=new_cols['patient_id'], visit_month=new_cols['visit_month'])

# Print the updated DataFrame
print(prot_df.head())

UniProt  visit_id    O00391    O00533    O00584    O14498    O14773    O14791
0         10053_0 -0.900600 -0.461720       NaN       NaN -1.470450 -0.444028  \
1        10053_12 -0.417843 -0.320609       NaN       NaN       NaN       NaN
2        10053_18  0.566004 -0.016030 -1.810210 -0.329170       NaN -0.553583
3        10138_12  0.340410 -0.070349 -1.619825 -0.013312  0.672284  2.636155
4        10138_24  0.128482  0.046548 -2.055741 -1.197716  1.594137 -0.297542

UniProt    O15240    O15394    O43505  ...    Q9NYU2    Q9UBR2    Q9UBX5
0       -0.593125 -1.667750 -0.354558  ... -0.731008       NaN -0.987070  \
1        0.975488 -1.668428 -0.392920  ...       NaN       NaN -0.551562
2        0.004869 -1.612750 -0.344776  ... -0.032686       NaN  0.189582
3        0.414596  0.176453  0.105514  ...  1.809923 -0.127163  0.110313
4        0.343887  0.073175  0.568006  ...  2.720630  0.401529 -0.790307

UniProt    Q9UHG2    Q9UKV8    Q9UNU6    Q9Y646    Q9Y6R7  patient_id
0       -0.509656 -0.155142 -0.665670       NaN -0.177409       10053  \
1       -0.571055 -0.164081       NaN -1.782304  0.445860       10053
2        0.150555 -0.383094 -1.363066       NaN  0.763531       10053
3       -0.006194  1.412260  0.966993  0.262118 -1.238675       10138
4       -0.522044 -0.402934 -1.084349 -0.806772 -1.376184       10138

UniProt  visit_month
0                  0
1                 12
2                 18
3                 12
4                 24

[5 rows x 230 columns]

array(['0', '12', '18', '24', '36', '48', '60', '6', '84', '108', '72',
       '3', '54', '30', '96'], dtype=object)

In [46]:
prot_df.to_csv('data/protein_data_normalized.csv', index=False)

In [37]:
patient_dict = {}
for patient_id in prot_df.patient_id.unique():
    patient_dict[patient_id] = prot_df.groupby('patient_id').get_group(patient_id)

In [39]:
patient_dict.keys()

dict_keys(['10053', '10138', '10174', '10541', '10715', '10718', '11459', '11686', '11928', '12516', '12636', '12703', '12755', '12931', '13360', '13368', '13618', '13804', '13852', '13968', '14035', '14124', '14242', '14270', '14344', '14450', '14811', '15009', '1517', '15245', '15504', '15590', '16238', '16347', '16566', '16574', '16778', '16931', '17154', '17201', '17414', '17727', '18183', '18204', '18553', '18560', '19088', '1923', '20212', '20216', '20352', '20404', '20460', '20581', '20664', '20707', '20791', '20792', '21126', '21537', '21729', '22126', '22623', '23175', '23192', '23244', '23391', '23636', '24278', '24690', '24818', '24820', '24911', '25562', '25739', '25750', '25827', '25911', '26005', '26104', '26210', '2660', '26809', '27079', '27300', '27464', '27468', '27607', '27715', '27872', '27893', '27971', '27987', '28327', '28342', '28818', '29313', '29417', '30119', '30155', '30416', '30894', '30951', '31121', '31154', '31270', '31693', '33108', '33548', '33558', '34182', '35231', '35465', '35477', '35675', '35696', '3636', '36797', '37220', '37312', '37566', '38419', '3863', '39144', '39719', '40022', '40200', '40340', '40650', '40751', '40798', '40874', '40876', '40967', '40980', '41444', '41617', '4161', '41628', '4172', '41871', '41883', '41930', '42003', '42086', '42385', '42579', '44001', '44154', '44682', '44789', '45161', '45181', '45662', '46837', '47103', '47171', '47513', '47881', '48780', '48928', '49239', '4923', '49672', '49683', '49995', '5027', '5036', '50611', '50907', '51243', '51708', '5178', '51846', '51879', '51893', '51899', '52119', '52266', '52998', '53103', '54095', '54406', '54979', '55096', '55240', '55256', '55302', '55662', '55', '56073', '56075', '56119', '56317', '5645', '56538', '56675', '56691', '56727', '57009', '57108', '57321', '57416', '5742', '57468', '57478', '57507', '57646', '58189', '58270', '58597', '58648', '58653', '58674', '58823', '59550', '59574', '60170', '60326', '60443', '6054', '60788', '60803', '61503', '61974', '6211', '62329', '62437', '62723', '62732', '62792', '63875', '63889', '6420', '64669', '64674', '65043', '7051', '7117', '7151', '7265', '7508', '7568', '7832', '7886', '8344', '8699', '942'])

In [64]:
all_months = prot_df['visit_month'].unique()
temp = patient_dict['10053']

In [62]:
len(patient_dict.keys())

248

In [67]:
import pandas as pd

all_months = prot_df['visit_month'].unique()
temp = patient_dict['10053']

for visit_month in all_months:
    if visit_month not in temp['visit_month'].values:
        # Add a new row to the patient's DataFrame
        missing_month_data = {'visit_month': visit_month} # Add any other columns with appropriate default values, if necessary
        temp = temp.append(missing_month_data, ignore_index=True)

# Update the patient's data in the patient_dict
patient_dict['10053'] = temp

# Optional: sort the patient's DataFrame by 'visit_month'
patient_dict['10053'] = patient_dict['10053'].sort_values(by='visit_month').reset_index(drop=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [66]:
temp

UniProt,visit_id,O00391,O00533,O00584,O14498,O14773,O14791,O15240,O15394,O43505,...,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7,patient_id,visit_month
1109,942_12,-1.733737,-0.637608,-0.760188,-1.485313,0.127695,-1.122628,-0.540278,-0.609492,0.207333,...,-0.738786,-0.397118,-1.120484,0.041569,0.481254,-0.085353,-0.350174,-0.806277,942,12
1110,942_24,NaN,-0.672121,-0.342884,-0.463266,-0.138815,-1.328256,-0.156427,-0.686454,-0.122440,...,-0.660126,-0.850905,-0.938037,0.263195,0.270085,-0.087719,-0.112542,-0.587157,942,24
1111,942_48,-0.004780,-1.100151,-0.416531,-0.111936,0.663088,-0.777090,-0.603586,-0.964683,-0.350721,...,0.405654,0.863510,-1.483325,0.023955,1.039986,0.210354,-0.975360,-0.419882,942,48
1112,942_6,-0.150005,-0.473610,-0.553428,0.471806,-1.606781,-0.385779,0.472508,-0.343764,-0.377169,...,-0.749259,0.486928,-1.122503,0.754062,0.478367,0.652694,-0.159065,-0.528789,942,6